<h2>{{defaultConfig.name}}</h2>
<hr>
<ng-container [ngSwitch]="editmode">
  <ng-template ngSwitchCase="list">
    <test-modal #viewModal titleName='InfluxDB Servers'></test-modal>
    <test-modal #viewModalDelete titleName='Deleting:' [customMessage]="['Deleting this InfluxDB Server will affect the following components','Deleting this InfluxDB Server will NOT affect any component. Safe delete']" [customMessageClass]="['alert alert-danger','alert alert-success']"
        [showValidation]="true" [textValidation]="'Delete'" [controlSize]="true" (validationClicked)="deleteSampleItem($event)">
    </test-modal>
  <table-list #listTableComponent
    [typeComponent]="'devicestats-component'"
    [data]="data"
    [columns]="defaultConfig['table-columns']"
    [counterItems]="counterItems"
    [counterErrors]="counterErrors"
    [selectedArray]="selectedArray"
    [isRequesting]="isRequesting"
    (customClicked)="customActions($event)"></table-list>

</ng-template>
  <ng-template ngSwitchDefault>
    <form [formGroup]="sampleComponentForm" class="form-horizontal" (ngSubmit)="editmode == 'create' ? saveSampleItem() : updateSampleItem()">
  <ng-container>
    <div class="row well well-sm" style="">
      <span style="    font-family: 'oswaldlight', sans-serif;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    margin-left: 19px;
    border-radius: 0px 0px 20px 20px;
    padding: 20px 20px 5px 20px;">
      <i class="glyphicon glyphicon-cog text-info"></i> {{ editmode | uppercase}}
    </span>
      <div class="pull-right" style="margin-right: 20px">
        <button class="btn btn-info" (click)="testSampleItemConnection()" [disabled]="!sampleComponentForm.valid"> <i class="glyphicon glyphicon-flash"></i></button>
        <button class="btn btn-success" type="submit" [disabled]="!sampleComponentForm.valid"> <i class="glyphicon glyphicon-ok-circle"></i></button>
        <button class="btn btn-warning" type="reset" [disabled]="!sampleComponentForm.dirty"><i class="glyphicon glyphicon-ban-circle"></i> </button>
        <button class="btn btn-danger" type="button" (click)="cancelEdit()"><i class="glyphicon glyphicon-remove-circle"></i></button>
      </div>
    </div>
  </ng-container>
  <div class="well well-sm">
    <span style="    font-family: 'oswaldlight', sans-serif;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  margin-left: 19px;
  border-radius: 0px 0px 20px 20px;
  padding: 20px 20px 5px 20px;">
  Device Stat {{sampleComponentForm.value.ID}}
  </span>
      <div class="form-group">
        <label class="control-label col-sm-2" for="Order">Order</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="URL for Kapacitor instance"></i>
        <div class="col-sm-9">
          <input type="number" formControlName="Order" id="Order" [ngModel]="sampleComponentForm.value.Order"/>
          <control-messages [control]="sampleComponentForm.controls.Order"></control-messages>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="DeviceID">DeviceID</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="URL for Kapacitor instance"></i>
        <div class="col-sm-9">
          <input formControlName="DeviceID" id="DeviceID" [ngModel]="sampleComponentForm.value.DeviceID"/>
          <control-messages [control]="sampleComponentForm.controls.DeviceID"></control-messages>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="AlertID">AlertID</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="URL for Kapacitor instance"></i>
        <div class="col-sm-9">
          <input formControlName="AlertID" id="AlertID" [ngModel]="sampleComponentForm.value.AlertID"/>
          <control-messages [control]="sampleComponentForm.controls.AlertID"></control-messages>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="Exception">Exception</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="URL for Kapacitor instance"></i>
        <div class="col-sm-9">
          <input type="number" formControlName="Exception" id="Exception" [ngModel]="sampleComponentForm.value.Exception"/>
          <control-messages [control]="sampleComponentForm.controls.Exception"></control-messages>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="Active">Active</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="URL for Kapacitor instance"></i>
        <div class="col-sm-9">
          <select formControlName="Active" id="Active" [ngModel]="sampleComponentForm.value.Active">
            <option value="true">True</option>
            <option value="false">False</option>
          </select>          <control-messages [control]="sampleComponentForm.controls.Active"></control-messages>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="BaseLine">BaseLine</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="URL for Kapacitor instance"></i>
        <div class="col-sm-9">
          <input formControlName="BaseLine" id="BaseLine" [ngModel]="sampleComponentForm.value.BaseLine"/>
          <control-messages [control]="sampleComponentForm.controls.BaseLine"></control-messages>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="FilterTagKey">FilterTagKey</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="URL for Kapacitor instance"></i>
        <div class="col-sm-9">
          <input formControlName="FilterTagKey" id="FilterTagKey" [ngModel]="sampleComponentForm.value.FilterTagKey"/>
          <control-messages [control]="sampleComponentForm.controls.FilterTagKey"></control-messages>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="FilterTagValue">FilterTagValue</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="URL for Kapacitor instance"></i>
        <div class="col-sm-9">
          <input formControlName="FilterTagValue" id="FilterTagValue" [ngModel]="sampleComponentForm.value.FilterTagValue"/>
          <control-messages [control]="sampleComponentForm.controls.FilterTagValue"></control-messages>
        </div>
      </div>
  </div>

  <div class="well well-sm">
    <span style="    font-family: 'oswaldlight', sans-serif;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  margin-left: 19px;
  border-radius: 0px 0px 20px 20px;
  padding: 20px 20px 5px 20px;">
  Extra Information
  </span>
      <div class="form-group">
        <label class="control-label col-sm-2" for="Description">Description</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Description of the InfluxDB Server"></i>
        <div class="col-sm-9">
          <textarea class="form-control" style="width: 50%" rows="2" formControlName="Description" id="Description" [ngModel]="sampleComponentForm.value.Description"> </textarea>
          <control-messages [control]="sampleComponentForm.controls.Description"></control-messages>
        </div>
      </div>
  </div>
    </form>
  </ng-template>

</ng-container>
