<h2>{{defaultConfig.name}}</h2>
<hr>
<ng-container [ngSwitch]="editmode">
  <ng-template ngSwitchCase="list">
    <test-modal #viewModal [titleName]="defaultConfig.name"></test-modal>
    <test-modal #viewModalDelete titleName='Deleting:' [customMessage]="['Deleting this alert will affect the following components:','Deleting this alert will NOT affect any component. Safe delete']" [customMessageClass]="['alert alert-danger','alert alert-success']"
        [showValidation]="true" [textValidation]="'Delete'" [controlSize]="true" (validationClicked)="deleteSampleItem($event)">
    </test-modal>
    <export-file-modal #exportFileModal [showValidation]="true" [exportType]="defaultConfig['slug']" [textValidation]="'Export'" titleName='Exporting:'></export-file-modal>
    <table-list #listTableComponent [typeComponent]="'alert-component'" [data]="data" [columns]="defaultConfig['table-columns']" [counterItems]="counterItems" [counterErrors]="counterErrors" [selectedArray]="selectedArray" [isRequesting]="isRequesting" [tableRole]="tableRole"
        [roleActions]="overrideRoleActions" (customClicked)="customActions($event)"></table-list>
  </ng-template>
  <ng-template ngSwitchDefault>
    <form [formGroup]="sampleComponentForm" class="form-horizontal" (ngSubmit)="editmode == 'create' ? saveSampleItem() : updateSampleItem()">
      <ng-container>
        <div class="row well well-sm">
          <h4 style="display:inline"><i class="glyphicon glyphicon-cog text-info"></i> {{ editmode | uppercase}}</h4>
          <div class="pull-right" style="margin-right: 20px">
            <div style="display:inline" tooltip='Submit' container=body>
              <button class="btn btn-success" type="submit" [disabled]="!sampleComponentForm.valid"> <i class="glyphicon glyphicon-ok-circle"></i></button>
            </div>
            <div style="display:inline" tooltip='Reset' container=body>
              <button class="btn btn-warning" type="reset" [disabled]="!sampleComponentForm.dirty"><i class="glyphicon glyphicon-ban-circle"></i> </button>
            </div>
            <div style="display:inline" tooltip='Cancel' container=body>
              <button class="btn btn-danger" type="button" (click)="cancelEdit()"><i class="glyphicon glyphicon-remove-circle"></i></button>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="form-fixed-height">
        <div class="well well-sm">
          <span class="editsection">Core Settings</span>
          <div class="form-group" style="margin-top: 25px" *ngIf="sampleComponentForm.controls.ID">
            <label class="control-label col-sm-2" for="ID">ID</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of the alert. Autocalculated from below fields"></i>
            <div class="col-sm-9">
              <input formControlName="ID" id="ID" disabled style="border:0px;" [ngModel]="sampleComponentForm.value.BaselineID+'-'+sampleComponentForm.value.ProductID+'-'+sampleComponentForm.value.GroupID+'-'+(sampleComponentForm.value.NumAlertID | leadingZeroes)" />
              <control-messages [control]="sampleComponentForm.controls.ID"></control-messages>
            </div>
          </div>
          <div class="form-group" style="margin-top: 25px" *ngIf="sampleComponentForm.controls.Active">
            <label class="control-label col-sm-2" for="Active">Active</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Indicates if the alert is active or not"></i>
            <div class="col-sm-9">
              <select formControlName="Active" id="Active" [ngModel]="sampleComponentForm.value.Active">
                <option value="true" selected="selected">True</option>
                <option value="false">False</option>
              </select>
              <control-messages [control]="sampleComponentForm.controls.Active"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ProductID">
            <label class="control-label col-sm-2" for="ProductID">ProductID</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="ID of the product"></i>
            <div class="col-sm-9">
              <ss-multiselect-dropdown [options]="select_product" formControlName="ProductID" [settings]="single_select" [texts]="myTexts" [ngModel]="sampleComponentForm.value.ProductID"></ss-multiselect-dropdown>
              <control-messages [control]="sampleComponentForm.controls.ProductID"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.BaselineID">
            <label class="control-label col-sm-2" for="BaselineID">BaselineID</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="ID of the line (LB for Base line and LE for Extended line)"></i>
            <div class="col-sm-9">
              <input formControlName="BaselineID" id="BaselineID" [ngModel]="sampleComponentForm.value.BaselineID" />
              <control-messages [control]="sampleComponentForm.controls.BaselineID"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.GroupID">
            <label class="control-label col-sm-2" for="GroupID">GroupID</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="ID of the product group"></i>
            <div class="col-sm-9">
              <input formControlName="GroupID" id="GroupID" [ngModel]="sampleComponentForm.value.GroupID" />
              <control-messages [control]="sampleComponentForm.controls.GroupID"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.NumAlertID">
            <label class="control-label col-sm-2" for="NumAlertID">NumAlertID</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Number of alert"></i>
            <div class="col-sm-9">
              <input type="number" formControlName="NumAlertID" id="NumAlertID" [ngModel]="sampleComponentForm.value.NumAlertID" min="1" max="999" />
              <control-messages [control]="sampleComponentForm.controls.NumAlertID"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.OperationID">
            <label class="control-label col-sm-2" for="OperationID">OperationID</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="ID of the instruction for the operator"></i>
            <div class="col-sm-9">
              <input formControlName="OperationID" id="OperationID" [ngModel]="sampleComponentForm.value.OperationID" />
              <control-messages [control]="sampleComponentForm.controls.OperationID"></control-messages>
            </div>
          </div>
        </div>

        <div class="well well-sm">
          <span class="editsection">External Services Settings</span>
          <div class="form-group" style="margin-top: 25px" *ngIf="sampleComponentForm.controls.OutHTTP">
            <label class="control-label col-sm-2" for="OutHTTP">Alerting Endpoints</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="List of EndPoints where the alert will be sent"></i>
            <div class="col-sm-9">
              <ss-multiselect-dropdown [options]="select_outhttp" formControlName="OutHTTP" [texts]="myTexts" [ngModel]="sampleComponentForm.value.OutHTTP"></ss-multiselect-dropdown>
              <control-messages [control]="sampleComponentForm.controls.OutHTTP"></control-messages>
            </div>
          </div>

          <div class="form-group" *ngIf="sampleComponentForm.controls.KapacitorID">
            <label class="control-label col-sm-2" for="KapacitorID">KapacitorID</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="ID of the kapacitor server where the alert will be created"></i>
            <div class="col-sm-9">
              <ss-multiselect-dropdown [options]="select_kapacitor" formControlName="KapacitorID" [settings]="single_select" [texts]="myTexts" [ngModel]="sampleComponentForm.value.KapacitorID"></ss-multiselect-dropdown>
              <control-messages [control]="sampleComponentForm.controls.KapacitorID"></control-messages>
            </div>
          </div>
        </div>

        <div class="well well-sm">
          <span class="editsection">Data Origin Settings</span>
          <div class="form-group" style="margin-top: 25px" *ngIf="sampleComponentForm.controls.InfluxDB">
            <label class="control-label col-sm-2" for="InfluxDB">InfluxDB</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-9">
              <ss-multiselect-dropdown *ngIf="ifxdb_list && select_ifxdb.length > 0" [options]="select_ifxdb" formControlName="InfluxDB" [settings]="single_select" [texts]="myTexts" [ngModel]="sampleComponentForm.value.InfluxDB" (ngModelChange)="pickDBItem($event)"></ss-multiselect-dropdown>
              <control-messages [control]="sampleComponentForm.controls.InfluxDB"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.InfluxRP && sampleComponentForm.value.InfluxDB">
            <label class="control-label col-sm-2" for="InfluxRP">InfluxRP</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Retention policy of InfluxDB server"></i>
            <div class="col-sm-9">
              <ss-multiselect-dropdown *ngIf="select_ifxrp && select_ifxdb.length > 0" [options]="select_ifxrp" formControlName="InfluxRP" [settings]="single_select" [texts]="myTexts" [ngModel]="sampleComponentForm.value.InfluxRP"></ss-multiselect-dropdown>
              <control-messages [control]="sampleComponentForm.controls.InfluxRP"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.InfluxMeasurement && sampleComponentForm.value.InfluxRP">
            <label class="control-label col-sm-2" for="InfluxMeasurement">InfluxMeasurement</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Measurement with the data to check"></i>
            <div class="col-sm-9">
              <ss-multiselect-dropdown *ngIf="select_ifxms && select_ifxdb.length > 0" [options]="select_ifxms" formControlName="InfluxMeasurement" [settings]="single_select" [texts]="myTexts" [ngModel]="sampleComponentForm.value.InfluxMeasurement" (ngModelChange)="pickMeasItem($event)"></ss-multiselect-dropdown>
              <span *ngIf="!select_ifxms">No Fields found</span>
              <control-messages [control]="sampleComponentForm.controls.InfluxMeasurement"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.IsCustomExpression && sampleComponentForm.value.InfluxMeasurement">
            <label class="control-label col-sm-2" for="IsCustomExpression">IsCustomExpression</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Indicates if the data to check is a custom expression or a measurement field"></i>
            <div class="col-sm-9">
              <select formControlName="IsCustomExpression" id="IsCustomExpression" [ngModel]="sampleComponentForm.value.IsCustomExpression">
                <option value="true">True</option>
                <option value="false" selected="selected">False</option>
              </select>
              <control-messages [control]="sampleComponentForm.controls.IsCustomExpression"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.Field && sampleComponentForm.value.InfluxMeasurement && (sampleComponentForm.value.IsCustomExpression=='false'||!sampleComponentForm.value.IsCustomExpression)">
            <label class="control-label col-sm-2" for="Field">Field</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Field with the data to check"></i>
            <div class="col-sm-9">
              <ss-multiselect-dropdown *ngIf="select_ifxfs" [options]="select_ifxfs" formControlName="Field" [settings]="single_select" [texts]="myTexts" [ngModel]="sampleComponentForm.value.Field"></ss-multiselect-dropdown>
              <control-messages [control]="sampleComponentForm.controls.Field"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.Field && sampleComponentForm.controls.IsCustomExpression.value=='true'">
            <label class="control-label col-sm-2" for="Field">Custom Expression</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Field with the custom expression to check"></i>
            <div class="col-sm-9">
              <input formControlName="Field" id="Field" [ngModel]="sampleComponentForm.value.Field" />
              <control-messages [control]="sampleComponentForm.controls.Field"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.FieldDesc && sampleComponentForm.controls.IsCustomExpression.value=='true'">
            <label class="control-label col-sm-2" for="FieldDesc">FieldDesc</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Field description to show on alert details"></i>
            <div class="col-sm-9">
              <input formControlName="FieldDesc" id="FieldDesc" [ngModel]="sampleComponentForm.value.FieldDesc" />
              <control-messages [control]="sampleComponentForm.controls.FieldDesc"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.DeviceIDTag">
            <label class="control-label col-sm-2" for="DeviceIDTag">DeviceIDTag</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Tag to identify the device"></i>
            <div class="col-sm-9">
              <input formControlName="DeviceIDTag" id="DeviceIDTag" [ngModel]="sampleComponentForm.value.DeviceIDTag" />
              <control-messages [control]="sampleComponentForm.controls.DeviceIDTag"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.InfluxFilter">
            <label class="control-label col-sm-2" for="InfluxFilter">InfluxFilter</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Lambda expression to filter data from Influx"></i>
            <div class="col-sm-9">
              <input formControlName="InfluxFilter" id="InfluxFilter" [ngModel]="sampleComponentForm.value.InfluxFilter" />
              <control-messages [control]="sampleComponentForm.controls.InfluxFilter"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.IntervalCheck">
            <label class="control-label col-sm-2" for="IntervalCheck">IntervalCheck</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-9">
              <input formControlName="IntervalCheck" id="IntervalCheck" [ngModel]="sampleComponentForm.value.IntervalCheck" />
              <control-messages [control]="sampleComponentForm.controls.IntervalCheck"></control-messages>
            </div>
          </div>
        </div>

        <div class="well well-sm">
          <span class="editsection">Alert Settings</span>
          <div class="form-group" style="margin-top: 25px" *ngIf="sampleComponentForm.controls.TrigerType">
            <label class="control-label col-sm-2" for="TrigerType">TriggerType</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-9">
              <select formControlName="TrigerType" id="TrigerType" (click)="setDynamicFields(sampleComponentForm.value.TrigerType)" [ngModel]="sampleComponentForm.value.TrigerType">
                <option value="THRESHOLD" selected="selected">Threshold</option>
                <option value="TREND">Trend</option>
                <option value="DEADMAN">Deadman</option>
              </select>
              <control-messages [control]="sampleComponentForm.controls.TrigerType"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.Shift">
            <label class="control-label col-sm-2" for="Shift">Shift</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-9">
              <input formControlName="Shift" id="Shift" [ngModel]="sampleComponentForm.value.Shift" />
              <control-messages [control]="sampleComponentForm.controls.Shift"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.StatFunc">
            <label class="control-label col-sm-2" for="StatFunc">StatFunc</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-9">
              <select formControlName="StatFunc" id="StatFunc" [ngModel]="sampleComponentForm.value.StatFunc">
                <option value="NONE" selected="selected">NONE</option>
                <option value="LAST">LAST</option>
                <option value="MAX">MAX</option>
                <option value="MEAN">MEAN</option>
                <option value="MEDIAN">MEDIAN</option>
                <option value="MIN">MIN</option>
                <option value="MOVINGAVERAGE">MOVINGAVERAGE</option>
                <option value="PERCENTILE">PERCENTILE</option>
                <option value="SPREAD">SPREAD</option>
                <option value="STDDEV">STDDEV</option>
                <option value="SUM">SUM</option>
              </select>
              <control-messages [control]="sampleComponentForm.controls.StatFunc"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ExtraData && (sampleComponentForm.controls.StatFunc.value=='MOVINGAVERAGE'||sampleComponentForm.controls.StatFunc.value=='PERCENTILE')">
            <label class="control-label col-sm-2" for="ExtraData">ExtraData</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Extra data for the selected function"></i>
            <div class="col-sm-9">
              <input type="number" formControlName="ExtraData" id="ExtraData" [ngModel]="sampleComponentForm.value.ExtraData" />
              <control-messages [control]="sampleComponentForm.controls.ExtraData"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.CritDirection">
            <label class="control-label col-sm-2" for="CritDirection">CritDirection</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-9">
              <select formControlName="CritDirection" id="CritDirection" [ngModel]="sampleComponentForm.value.CritDirection">
                <option value="AC" selected="selected">ASC Level</option>
                <option value="DC">DESC Level</option>
              </select>
              <control-messages [control]="sampleComponentForm.controls.CritDirection"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ThresholdType">
            <label class="control-label col-sm-2" for="ThresholdType">TrendType</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-9">
              <select formControlName="ThresholdType" id="ThresholdType" [ngModel]="sampleComponentForm.value.ThresholdType">
                <option value="absolute" selected="selected">Absolute</option>
                <option value="relative">Relative</option>
              </select>
              <control-messages [control]="sampleComponentForm.controls.ThresholdType"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.TrendSign">
            <label class="control-label col-sm-2" for="TrendSign">TrendSign</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-9">
              <select formControlName="TrendSign" id="TrendSign" [ngModel]="sampleComponentForm.value.TrendSign">
                <option value="positive" selected="selected">Positive</option>
                <option value="negative">Negative</option>
              </select>
              <control-messages [control]="sampleComponentForm.controls.TrendSign"></control-messages>
            </div>
          </div>

          <div class="form-group" *ngIf="sampleComponentForm.controls.ThCritRangeTimeID">
            <label class="control-label col-md-offset-1 col-sm-2" for="ThCritRangeTimeID">ThCritRangeTimeID</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-8">
              <ss-multiselect-dropdown [options]="select_rangetime" formControlName="ThCritRangeTimeID" [settings]="single_select" [texts]="myTexts" [ngModel]="sampleComponentForm.value.ThCritRangeTimeID"></ss-multiselect-dropdown>
              <control-messages [control]="sampleComponentForm.controls.ThCritRangeTimeID"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ThWarnRangeTimeID">
            <label class="control-label col-md-offset-1 col-sm-2" for="ThWarnRangeTimeID">ThWarnRangeTimeID</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-8">
              <ss-multiselect-dropdown [options]="select_rangetime" formControlName="ThWarnRangeTimeID" [settings]="single_select" [texts]="myTexts" [ngModel]="sampleComponentForm.value.ThWarnRangeTimeID"></ss-multiselect-dropdown>
              <control-messages [control]="sampleComponentForm.controls.ThWarnRangeTimeID"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ThInfoRangeTimeID">
            <label class="control-label col-md-offset-1 col-sm-2" for="ThInfoRangeTimeID">ThInfoRangeTimeID</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-8">
              <ss-multiselect-dropdown [options]="select_rangetime" formControlName="ThInfoRangeTimeID" [settings]="single_select" [texts]="myTexts" [ngModel]="sampleComponentForm.value.ThInfoRangeTimeID"></ss-multiselect-dropdown>
              <control-messages [control]="sampleComponentForm.controls.ThInfoRangeTimeID"></control-messages>
            </div>
          </div>

          <div class="form-group" *ngIf="sampleComponentForm.controls.ThCritDef">
            <label class="control-label col-md-offset-1 col-sm-2" for="ThCritDef">ThCritDef</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-8">
              <input type="number" formControlName="ThCritDef" id="ThCritDef" [ngModel]="sampleComponentForm.value.ThCritDef" />
              <control-messages [control]="sampleComponentForm.controls.ThCritDef"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ThWarnDef">
            <label class="control-label col-md-offset-1 col-sm-2" for="ThWarnDef">ThWarnDef</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-8">
              <input type="number" formControlName="ThWarnDef" id="ThWarnDef" [ngModel]="sampleComponentForm.value.ThWarnDef" />
              <control-messages [control]="sampleComponentForm.controls.ThWarnDef"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ThInfoDef">
            <label class="control-label col-md-offset-1 col-sm-2" for="ThInfoDef">ThInfoDef</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-8">
              <input type="number" formControlName="ThInfoDef" id="ThInfoDef" [ngModel]="sampleComponentForm.value.ThInfoDef" />
              <control-messages [control]="sampleComponentForm.controls.ThInfoDef"></control-messages>
            </div>
          </div>

          <div class="form-group" *ngIf="sampleComponentForm.controls.ThCritEx1">
            <label class="control-label col-md-offset-1 col-sm-2" for="ThCritEx1">ThCritEx1</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-8">
              <input type="number" formControlName="ThCritEx1" id="ThCritEx1" [ngModel]="sampleComponentForm.value.ThCritEx1" />
              <control-messages [control]="sampleComponentForm.controls.ThCritEx1"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ThWarnEx1">
            <label class="control-label col-md-offset-1 col-sm-2" for="ThWarnEx1">ThWarnEx1</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-8">
              <input type="number" formControlName="ThWarnEx1" id="ThWarnEx1" [ngModel]="sampleComponentForm.value.ThWarnEx1" />
              <control-messages [control]="sampleComponentForm.controls.ThWarnEx1"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ThInfoEx1">
            <label class="control-label col-md-offset-1 col-sm-2" for="ThInfoEx1">ThInfoEx1</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-8">
              <input type="number" formControlName="ThInfoEx1" id="ThInfoEx1" [ngModel]="sampleComponentForm.value.ThInfoEx1" />
              <control-messages [control]="sampleComponentForm.controls.ThInfoEx1"></control-messages>
            </div>
          </div>

          <div class="form-group" *ngIf="sampleComponentForm.controls.ThCritEx2">
            <label class="control-label col-md-offset-1 col-sm-2" for="ThCritEx2">ThCritEx2</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-8">
              <input type="number" formControlName="ThCritEx2" id="ThCritEx2" [ngModel]="sampleComponentForm.value.ThCritEx2" />
              <control-messages [control]="sampleComponentForm.controls.ThCritEx2"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ThWarnEx2">
            <label class="control-label col-md-offset-1 col-sm-2" for="ThWarnEx2">ThWarnEx2</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-8">
              <input type="number" formControlName="ThWarnEx2" id="ThWarnEx2" [ngModel]="sampleComponentForm.value.ThWarnEx2" />
              <control-messages [control]="sampleComponentForm.controls.ThWarnEx2"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ThInfoEx2">
            <label class="control-label col-md-offset-1 col-sm-2" for="ThInfoEx2">ThInfoEx2</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
            <div class="col-sm-8">
              <input type="number" formControlName="ThInfoEx2" id="ThInfoEx2" [ngModel]="sampleComponentForm.value.ThInfoEx2" />
              <control-messages [control]="sampleComponentForm.controls.ThInfoEx2"></control-messages>
            </div>
          </div>
        </div>
        <div class="well well-sm">
          <span class="editsection">Grafana Settings</span>
          <div class="form-group" style="margin-top: 25px" *ngIf="sampleComponentForm.controls.GrafanaServer">
            <label class="control-label col-sm-2" for="GrafanaServer">GrafanaServer</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Grafana server URL"></i>
            <div class="col-sm-9">
              <input formControlName="GrafanaServer" id="GrafanaServer" [ngModel]="sampleComponentForm.value.GrafanaServer" />
              <control-messages [control]="sampleComponentForm.controls.GrafanaServer"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.GrafanaDashLabel">
            <label class="control-label col-sm-2" for="GrafanaDashLabel">GrafanaDashLabel</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Grafana dashboard label"></i>
            <div class="col-sm-9">
              <input formControlName="GrafanaDashLabel" id="GrafanaDashLabel" [ngModel]="sampleComponentForm.value.GrafanaDashLabel" />
              <control-messages [control]="sampleComponentForm.controls.GrafanaDashLabel"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.GrafanaDashPanelID">
            <label class="control-label col-sm-2" for="GrafanaDashPanelID">GrafanaDashPanelID</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Grafana dashboard panel ID"></i>
            <div class="col-sm-9">
              <input formControlName="GrafanaDashPanelID" id="GrafanaDashPanelID" [ngModel]="sampleComponentForm.value.GrafanaDashPanelID" />
              <control-messages [control]="sampleComponentForm.controls.GrafanaDashPanelID"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.DeviceIDLabel">
            <label class="control-label col-sm-2" for="DeviceIDLabel">DeviceIDLabel</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Label for the Tag to identify the device"></i>
            <div class="col-sm-9">
              <input formControlName="DeviceIDLabel" id="DeviceIDLabel" [ngModel]="sampleComponentForm.value.DeviceIDLabel" />
              <control-messages [control]="sampleComponentForm.controls.DeviceIDLabel"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.DeviceIDTagRO">
            <label class="control-label col-sm-2" for="DeviceIDTagRO">DeviceIDTag</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Tag to identify the device"></i>
            <div class="col-sm-9">
              <input formControlName="DeviceIDTagRO" id="DeviceIDTagRO" disabled style="border:0px;" [ngModel]="sampleComponentForm.value.DeviceIDTag" />
              <control-messages [control]="sampleComponentForm.controls.DeviceIDTagRO"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ExtraLabel">
            <label class="control-label col-sm-2" for="ExtraLabel">ExtraLabel</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Label for the Tag with extra information"></i>
            <div class="col-sm-9">
              <input formControlName="ExtraLabel" id="ExtraLabel" [ngModel]="sampleComponentForm.value.ExtraLabel" />
              <control-messages [control]="sampleComponentForm.controls.ExtraLabel"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ExtraTag">
            <label class="control-label col-sm-2" for="ExtraTag">ExtraTag</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Tag with extra information"></i>
            <div class="col-sm-9">
              <input formControlName="ExtraTag" id="ExtraTag" [ngModel]="sampleComponentForm.value.ExtraTag" />
              <control-messages [control]="sampleComponentForm.controls.ExtraTag"></control-messages>
            </div>
          </div>
        </div>
        <div class="well well-sm">
          <span class="editsection">Extra Settings</span>
          <div class="form-group" *ngIf="sampleComponentForm.controls.AlertExtraText">
            <label class="control-label col-sm-2" for="AlertExtraText">AlertExtraText</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Extra text that will be sent to the operator"></i>
            <div class="col-sm-9">
              <input formControlName="AlertExtraText" id="AlertExtraText" [ngModel]="sampleComponentForm.value.AlertExtraText" />
              <control-messages [control]="sampleComponentForm.controls.AlertExtraText"></control-messages>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="Description">Description</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Description of the alert"></i>
            <div class="col-sm-9">
              <textarea class="form-control" style="width: 50%" rows="2" formControlName="Description" id="Description" [ngModel]="sampleComponentForm.value.Description"> </textarea>
              <control-messages [control]="sampleComponentForm.controls.Description"></control-messages>
            </div>
          </div>
        </div>
      </div>

    </form>
  </ng-template>

</ng-container>
