<h2>{{defaultConfig.name}}</h2>
<hr>
<ng-container [ngSwitch]="editmode">
  <ng-template ngSwitchCase="list">
    <test-modal #viewModal [titleName]="defaultConfig.name"></test-modal>
    <test-modal #viewModalDelete titleName='Deleting:' [customMessage]="['Deleting this template will affect the following components:','Deleting this template will NOT affect any component. Safe delete']" [customMessageClass]="['alert alert-danger','alert alert-success']"
        [showValidation]="true" [textValidation]="'Delete'" [controlSize]="true" (validationClicked)="deleteSampleItem($event)">
    </test-modal>
    <export-file-modal #exportFileModal [showValidation]="true" [exportType]="defaultConfig['slug']" [textValidation]="'Export'" titleName='Exporting:'></export-file-modal>
    <table-list #listTableComponent [typeComponent]="'template-component'" [data]="data" [columns]="defaultConfig['table-columns']" [counterItems]="counterItems" [counterErrors]="counterErrors" [selectedArray]="selectedArray" [isRequesting]="isRequesting"
        [tableRole]="tableRole" [roleActions]="overrideRoleActions" (customClicked)="customActions($event)"></table-list>
  </ng-template>
  <ng-template ngSwitchDefault>
    <form [formGroup]="sampleComponentForm" class="form-horizontal" (ngSubmit)="editmode == 'create' ? saveSampleItem() : updateSampleItem()">
      <ng-container>
        <div class="row well well-sm">
          <h4 style="display:inline"><i class="glyphicon glyphicon-cog text-info"></i> {{ editmode | uppercase}}</h4>
          <div class="pull-right" style="margin-right: 20px">
            <div style="display:inline" tooltip='Submit' container=body>
              <button class="btn btn-success" type="submit" [disabled]="!sampleComponentForm.valid"> <i class="glyphicon glyphicon-ok-circle"></i></button>
            </div>
            <div style="display:inline" tooltip='Reset' container=body>
              <button class="btn btn-warning" type="reset" [disabled]="!sampleComponentForm.dirty"><i class="glyphicon glyphicon-ban-circle"></i> </button>
            </div>
            <div style="display:inline" tooltip='Cancel' container=body>
              <button class="btn btn-danger" type="button" (click)="cancelEdit()"><i class="glyphicon glyphicon-remove-circle"></i></button>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="form-fixed-height">
        <div class="well well-sm">
          <span class="editsection">Core Settings</span>
          <div class="form-group" style="margin-top: 25px" *ngIf="sampleComponentForm.controls.ID">
            <label class="control-label col-sm-2" for="ID">ID</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of template. Example: TREND_2EX_CC_TRP_FMEAN"></i>
            <div class="col-sm-9">
              <input formControlName="ID" id="ID" [ngModel]="sampleComponentForm.value.ID" />
              <control-messages [control]="sampleComponentForm.controls.ID"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.TrigerType">
            <label class="control-label col-sm-2" for="TrigerType">TriggerType</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Trigger Type"></i>
            <div class="col-sm-9">
              <select formControlName="TrigerType" id="TrigerType" (click)="setDynamicFields(sampleComponentForm.value.TrigerType)" [ngModel]="sampleComponentForm.value.TrigerType">
                <option value="THRESHOLD" selected="selected">Threshold</option>
                <option value="TREND">Trend</option>
                <option value="DEADMAN">Deadman</option>
              </select>
              <control-messages [control]="sampleComponentForm.controls.TrigerType"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.StatFunc">
            <label class="control-label col-sm-2" for="StatFunc">StatFunc</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Function to apply"></i>
            <div class="col-sm-9">
              <select formControlName="StatFunc" id="StatFunc" [ngModel]="sampleComponentForm.value.StatFunc">
                <option value="NONE" selected="selected">NONE</option>
                <option value="LAST">LAST</option>
                <option value="MAX">MAX</option>
                <option value="MEAN">MEAN</option>
                <option value="MEDIAN">MEDIAN</option>
                <option value="MIN">MIN</option>
                <option value="MOVINGAVERAGE">MOVINGAVERAGE</option>
                <option value="PERCENTILE">PERCENTILE</option>
                <option value="SPREAD">SPREAD</option>
                <option value="STDDEV">STDDEV</option>
                <option value="SUM">SUM</option>
              </select>
              <control-messages [control]="sampleComponentForm.controls.StatFunc"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.CritDirection">
            <label class="control-label col-sm-2" for="CritDirection">CritDirection</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Direction of criticality"></i>
            <div class="col-sm-9">
              <select formControlName="CritDirection" id="CritDirection" [ngModel]="sampleComponentForm.value.CritDirection">
                <option value="AC" selected="selected">ASC Level</option>
                <option value="DC">DESC Level</option>
              </select>
              <control-messages [control]="sampleComponentForm.controls.CritDirection"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.ThresholdType">
            <label class="control-label col-sm-2" for="ThresholdType">TrendType</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Relative for difference in percentage"></i>
            <div class="col-sm-9">
              <select formControlName="ThresholdType" id="ThresholdType" [ngModel]="sampleComponentForm.value.ThresholdType">
                <option value="absolute" selected="selected">Absolute</option>
                <option value="relative">Relative</option>
              </select>
              <control-messages [control]="sampleComponentForm.controls.ThresholdType"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.TrendSign">
            <label class="control-label col-sm-2" for="TrendSign">TrendSign</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Sign of the difference between current value and past value"></i>
            <div class="col-sm-9">
              <select formControlName="TrendSign" id="TrendSign" [ngModel]="sampleComponentForm.value.TrendSign">
                <option value="positive" selected="selected">Positive</option>
                <option value="negative">Negative</option>
              </select>
              <control-messages [control]="sampleComponentForm.controls.TrendSign"></control-messages>
            </div>
          </div>
          <div class="form-group" *ngIf="sampleComponentForm.controls.TplData">
            <label class="control-label col-sm-2" for="TplData">TplData</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Code of the template"></i>
            <div class="col-sm-9">
              <textarea class="form-control" style="width: 50%" rows="15" formControlName="TplData" id="TplData" [ngModel]="sampleComponentForm.value.TplData"> </textarea>
              <control-messages [control]="sampleComponentForm.controls.TplData"></control-messages>
            </div>
          </div>
        </div>
        <div class="well well-sm">
          <span class="editsection">Extra Settings</span>
          <div class="form-group" style="margin-top: 25px">
            <label class="control-label col-sm-2" for="Description">Description</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Description of the template"></i>
            <div class="col-sm-9">
              <textarea class="form-control" style="width: 50%" rows="2" formControlName="Description" id="Description" [ngModel]="sampleComponentForm.value.Description"> </textarea>
              <control-messages [control]="sampleComponentForm.controls.Description"></control-messages>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

</ng-container>
