<div style="right: 12px; position: fixed; z-index: 999999;!important">
  <div *ngFor="let alert of myAlerts">
    <alert *ngIf="alert" [type]="alert.type" dismissible="true" [dismissOnTimeout]="10000">
      <div style="display: inline-block; border-right: solid; font-size: 40px !important; padding-right: 10px;">
        <h1 style="display:inline">
          <i [ngClass]="alert.type === 'success' ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-warning-sign'"></i>
        </h1>
      </div>
      <ng-content *ngIf="alert.type !== 'success';then dangerAlert; else successAlert"></ng-content>
      <ng-template #dangerAlert>
        <div style="display:inline-block">
          <p style="font-weight: 700;">{{alert.message.statusText}}</p>
          <span *ngIf="alert.message.status !== 403">{{alert.message['_body']}}</span>
          <span *ngIf="alert.message.status === 403">{{alert.message.url}}</span>
        </div>
      </ng-template>
      <ng-template #successAlert>

        <div style="display:inline-block;">
          <p style="font-weight: 700;">{{alert.message.statusText}}</p>
          Succesfully updated config
        </div>
      </ng-template>
    </alert>
  </div>
</div>
