<h2>{{defaultConfig.name}}</h2>
<hr>
<ng-container [ngSwitch]="editmode">
  <ng-template ngSwitchCase="list">
    <test-modal #viewModal [titleName]="defaultConfig.name"></test-modal>
    <test-modal #viewModalDelete titleName='Deleting:' [customMessage]="['Deleting this Product will affect the following components','Deleting this Product will NOT affect any component. Safe delete']" [customMessageClass]="['alert alert-danger','alert alert-success']"
        [showValidation]="true" [textValidation]="'Delete'" [controlSize]="true" (validationClicked)="deleteSampleItem($event)">
    </test-modal>
    <export-file-modal #exportFileModal [showValidation]="true" [exportType]="defaultConfig['slug']" [textValidation]="'Export'" titleName='Exporting:'></export-file-modal>
    <table-list #listTableComponent [typeComponent]="'product-component'" [data]="data" [columns]="defaultConfig['table-columns']" [counterItems]="counterItems" [counterErrors]="counterErrors" [selectedArray]="selectedArray" [isRequesting]="isRequesting"
        [tableRole]="tableRole" [roleActions]="overrideRoleActions" (customClicked)="customActions($event)"></table-list>
  </ng-template>
  <ng-template ngSwitchDefault>
    <form [formGroup]="sampleComponentForm" class="form-horizontal" (ngSubmit)="editmode == 'create' ? saveSampleItem() : updateSampleItem()">
      <ng-container>
        <div class="row well well-sm">
          <h4 style="display:inline"><i class="glyphicon glyphicon-cog text-info"></i> {{ editmode | uppercase}}</h4>
          <div class="pull-right" style="margin-right: 20px">
            <div style="display:inline" tooltip='Submit' container=body>
              <button class="btn btn-success" type="submit" [disabled]="!sampleComponentForm.valid"> <i class="glyphicon glyphicon-ok-circle"></i></button>
            </div>
            <div style="display:inline" tooltip='Reset' container=body>
              <button class="btn btn-warning" type="reset" [disabled]="!sampleComponentForm.dirty"><i class="glyphicon glyphicon-ban-circle"></i> </button>
            </div>
            <div style="display:inline" tooltip='Cancel' container=body>
              <button class="btn btn-danger" type="button" (click)="cancelEdit()"><i class="glyphicon glyphicon-remove-circle"></i></button>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="form-fixed-height">
        <div class="well well-sm">
          <span class="editsection">Core Settings</span>
          <div class="form-group" style="margin-top: 25px">
            <label class="control-label col-sm-2" for="ID">ID</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier for the product "></i>
            <div class="col-sm-9">
              <input formControlName="ID" id="ID" [ngModel]="sampleComponentForm.value.ID" />
              <control-messages [control]="sampleComponentForm.controls.ID"></control-messages>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="BaseLines">Base Lines</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Each baseline will be a set of Alerts "></i>
            <div class="col-sm-9">
              <input formControlName="BaseLines" id="BaseLines" [ngModel]="sampleComponentForm.value.BaseLines" />
              <control-messages [control]="sampleComponentForm.controls.BaseLines"></control-messages>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="IDTagName">ID Tag Name</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Tag which measurements for this product uses to identify the device (neede to define online device filters) "></i>
            <div class="col-sm-9">
              <input formControlName="IDTagName" id="IDTagName" [ngModel]="sampleComponentForm.value.IDTagName" />
              <control-messages [control]="sampleComponentForm.controls.IDTagName"></control-messages>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="CommonTags">CommonTags</label>
            <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Max hour selection (0-24)"></i>
            <div class="col-sm-9">
              <input formControlName="CommonTags" id="CommonTags" [ngModel]="sampleComponentForm.value.CommonTags" />
              <control-messages [control]="sampleComponentForm.controls.CommonTags"></control-messages>
            </div>
          </div>
        </div>
      </div>
      <div class="well well-sm">
        <span class="editsection">Extra Settings</span>
        <div class="form-group" style="margin-top: 25px">
          <label class="control-label col-sm-2" for="Description">Description</label>
          <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Description of the Product ID"></i>
          <div class="col-sm-9">
            <textarea class="form-control" style="width: 50%" rows="2" formControlName="Description" id="Description" [ngModel]="sampleComponentForm.value.Description"> </textarea>
            <control-messages [control]="sampleComponentForm.controls.Description"></control-messages>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</ng-container>
